$padding-default: 20px;
$gap-default: 30px;
$collection-width: 200px;

.container {
  padding: $padding-default;
}

.collectionsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-default;
  justify-content: left;
  padding: 0;
  margin: 50px auto;
  list-style: none;
}

.collectionsGrid > li {
  flex: 0 0 $collection-width;
  text-align: left;
  margin: 0;
  padding: 0;
}

.plusIcon {
  font-size: 36px !important;
}
