$header-padding-bottom: 5px;
$header-border-color: #fff;
$header-width: 100%;

.header {
  padding-bottom: $header-padding-bottom;
  border-bottom: 1px solid $header-border-color;
  width: $header-width;
}
